# Скопируйте этот файл в .env и заполните своими значениями

# --- Переменные для подключения к PostgreSQL ---
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_username
DB_PASSWORD=your_password
DB_NAME=your_database


# --- Порты для запуска сервисов ---
PORT_CLICK_GENERATOR=8081
PORT_CLICK_SCENARIO=8082
PORT_CLICK_COUNTER=8080
PORT_CLICK_STORAGE=8084
PORT_CLICK_DASHBOARD=8085

# --- Размер батча для ClickDashboard ---
STATS_BATCH_SIZE=100

# --- Адрес для ClickStorage из которого он запрашивает данные о статусе из ClickCounter---
STATS_SERVICE_URL=http://localhost:8080/stats